/* 全局样式 */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.6;
	min-height: 5em;
	color: #333;
}

li {
	list-style: none;
}
/* 头部样式 */
header {
	display: flex;
	background-color: #333;
	color: #fff;
	padding: 20px;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

h1 {
	margin: 0;
	font-size: 1.5em;
}
nav ul {
	list-style-type: none;
	padding: 0;
}

nav li {
	display: inline;
	margin-right: 10px;
	font-size: 1em;
}

nav a {
	color: #fff;
	text-decoration: none;
}

/* 主要部分样式 */
.cta-button {
	font-size: 1.3em;
	display: inline-block;
	background-color: #333;
	color: #fff;
	padding: 0.8em;
	text-decoration: none;
	margin-top: 20px;
	border-radius: 0.7em;
	transition: background-color 0.3s ease, transform 0.3s ease;
	-webkit-border-radius: 0.7em;
	-moz-border-radius: 0.7em;
	-ms-border-radius: 0.7em;
	-o-border-radius: 0.7em;
	-webkit-transition: background-color 0.3s ease, transform 0.3s ease;
	-moz-transition: background-color 0.3s ease, transform 0.3s ease;
	-ms-transition: background-color 0.3s ease, transform 0.3s ease;
	-o-transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
	background-color: #555;
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.hero .services .about {
	background-color: #333;
	color: #fff;
	padding: 100px;
	text-align: center;
}

.hero h2,
.services h2,
.about h2,
.contact h2 {
	font-size: 4em;
	margin-top: 0;
	text-shadow: 10px 5px rgba(0, 0, 0, 0.2);
}
.hero p,
.services p,
.about p,
.contact p {
	font-size: 1.5em;
}

/* 页脚样式 */
footer {
	background-color: #333;
	color: #fff;
	padding: 1em;
	text-align: center;
	font-size: 1em;
}

.animate-fade-in {
	opacity: 0;
	animation-name: fade-in;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
section {
	position: relative;
	min-height: 100vh;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
}

.container {
	width: 80%;
	margin: 0 auto;
}
/* 悬浮按钮样式 */
.floating-button {
	position: fixed;
	bottom: 6em;
	right: 2.5em;
	background-color: #333;
	color: #fff;
	border: 0.1em solid #76676d;
	border-radius: 50%;
	width: 6em;
	height: 6em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	z-index: 999;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-ms-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
}
.floating-button .iconfont {
	font-size: 2em;
	font-weight: bold;
}

.floating-button:hover {
	background-color: rgba(51, 51, 51, 0.8);
	transition: transform 0.3s ease, background-color 0.3s ease;
	transform: scale(1.05);
	-webkit-transition: transform 0.3s ease, background-color 0.3s ease;
	-moz-transition: transform 0.3s ease, background-color 0.3s ease;
	-ms-transition: transform 0.3s ease, background-color 0.3s ease;
	-o-transition: transform 0.3s ease, background-color 0.3s ease;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}
